h1 {
    color: #555;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 300px;
    font-weight: bold;
    letter-spacing: -4px;
    line-height: 1;
    text-align: center;
}

p {
    color: #e509f9;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

textarea {
    margin: 20px;
    width: 300px;
    height: 150px;
}

ul, ol {
    margin: 50px;
    padding: 30px;
}

li {
    font: 200 20px/5.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid rgb(7, 237, 87);
}
   
li:last-child {
    border: 5mm ridge rgba(500, 50, 999, .6);;
}

form {
    height:1px;
    width:300px;
    margin:auto;
    border:1px rgb(4, 76, 246) solid;
    padding:100px;
}
    
input, textarea {
    padding:5px;
    margin:50px
}

body { background-image:url('https://media2.giphy.com/media/gJuTwM3yuQ8f3rE8KV/200w.webp?cid=ecf05e47isypfw4ef3459z5ww5cchkf0kcyelzkic8x0sf96&rid=200w.webp&ct=g'); transform: scale(2, 0.5); transform: skew(30deg, 20deg);}
